usuwanie komórki -> zaznaczenie na niebiesko -> dd [na klawiaturze]

In [2]:
# dodawanie
3 + 7

10

In [3]:
# odejmowanie
2-345

-343

In [5]:
#mnożenie 
4 * 6

24

In [7]:
#dzielenie
4 / 2

2.0

In [10]:
# potęgowanie 
4 ** 3

64

# Zmienne

In [11]:
x = 10

In [12]:
print(x)

10

In [16]:
rocznik = 1992

In [17]:
teraz = 2017
print(teraz)

2017

In [20]:
ile_lat = teraz - rocznik
print(ile_lat)

25

In [24]:
dziad = ile_lat + 60
print(dziad)

85

In [25]:
type(dziad)

int

In [26]:
float(dziad)

85.0

### typy wartości
- int
- float
- str
-

In [27]:
zarobki_bieda = 5.50

In [28]:
type(zarobki_bieda)

float

In [30]:
werdykt = "straszna bieda"
print(werdykt)
type(werdykt)

straszna bieda

str

In [33]:
werdykt + werdykt

'straszna biedastraszna bieda'

In [34]:
werdykt * werdykt

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
werdykt * 3

'straszna biedastraszna biedastraszna bieda'

In [51]:
print("Urodziłam się w roku", str(rocznik), sep=" ")

Urodziłam się w roku 1992

In [57]:
print("Urodziłam się w", str(rocznik), 
      "i mam", str(ile_lat), 
      "lat, ale wciąż zarabiam na rękę", str(zarobki_bieda), 
      sep=" ", end=".")

Urodziłam się w 1992 i mam 25 lat, ale wciąż zarabiam na rękę 5.5.

### funkcje vs. metody

In [60]:
wiek2 = "Mam {} lat".format(ile_lat)

metoda jest przypisana do konkretnego typu danych.
- format (str) automatycznie zmienia na  dane tekstowe

In [61]:
print(wiek2)

Mam 25 lat

In [68]:
monolog = "Niby jestem stara. \
Urodziłam się {} i mam {} lat. \
Mimo to, wciąż zarabiam {} za godzinę i to {}.".format(rocznik, 
                                                       ile_lat, 
                                                       zarobki_bieda, 
                                                       werdykt)
print(monolog)

Niby jestem stara. Urodziłam się 1992 i mam 25 lat. Mimo to, wciąż zarabiam 5.5 za godzinę i to straszna bieda.

In [70]:
numer = "300"
type(numer)

str

In [71]:
numer_poprawny = int(numer)

In [72]:
type(numer_poprawny)

int

In [74]:
pkt = "30.892"

In [75]:
int(pkt)

ValueError: invalid literal for int() with base 10: '30.892'

In [76]:
float(pkt)

30.892

# Praca domowa

- Założyć konto na Githubie i stworzyć repozytorium "kp"
- kanał Slacka "#s01_pd"
- Znaleźć funkcję, któa będzie przyjmowała informację
- napisać "program" w pythonie, który pyta i oczekuje informacji
- deadline - 18.11.2017
- kod w notatniku "s01_pd01.ipynb"